<h1><%= t 'liked_reviews' %></h1>

<% if current_user.favorites.empty? %>
	<h3><%= t 'no_liked_reviews' %></h3>

<% else %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t 'title' %></th>
        <th><%= t 'author' %></th>
        <th><%= t 'tags' %></th>
      </tr>
    </thead>

    <tbody>
      <% current_user.favorites.each do |favorite| %>
        <tr>
          <td><%= link_to favorite.review.title, favorite.review %></td>
          <td><%= favorite.review.user.username %></td>
          <td>
            <p>
              <% favorite.review.tag_list.each do |tag| %>
                <%= link_to tag, tagged_path(tag: tag) %>
              <% end %> 
            </p>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
    <%= will_paginate @reviews, list_classes: %w(pagination justify-content-center) %>
    
<% end %>