<h1> <%= @user.username %> </h1>

<p>
<strong><%= t 'role' %>:</strong>

<% if @user.admin %>
    <%=  t 'admin' %>
    <%= link_to_unless @user.admin.eql?(false), t('dimiss_from_admin'), change_role_user_path(@user, admin:false), method: :patch, class:"btn btn-danger" %>
  <% else %>
    <%= t 'user' %>
    <%= link_to_unless @user.admin.eql?(true), t('promote_to_admin'), change_role_user_path(@user, admin:true), method: :patch, class:"btn btn-primary" %>
  <% end %>
 
  
</p>
</br>

<%= @user.email %>

</br>

</br>

<h2><%= t 'reviews' %></h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t 'title' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <% if @user.id == review.user_id %>
          <td><%= link_to review.title, review %></td>
          <td><%= link_to t('edit'), edit_review_path(review) %></td>
          <td><%= link_to t('delete'), review, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
