<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= form.text_field :title, minlength:3 , maxlength:32, class:"form-control", placeholder: t('title')%>
  </div>

  <div class="field form-group">
    <%= form.text_field :tag_list, class:"form-control", value: @review.send(:tag_list).to_s, placeholder: t('tags_placeholder')%>
  </div>

  <div class="field form-group">
    <%= form.number_field :rating, min:1, max:10, class:"form-control", placeholder: t('review_form.rating_place') %>
  </div>

  <div class="field form-group">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit t('save'), class:"btn btn-primary" %>
  </div>

  <% if review.user_id == nil %>
    <div class="field form-group">
      <%= form.number_field :user_id, id: :review_user_id, class:"form-control" , value:current_user.id, type:"hidden" %>
    </div>
  <% end %>

<% end %>
