<h1><%= t 'review_form.editting_review' %></h1>

<%= render 'form', review: @review %>

</br>

<%= link_to t('show'), @review, class:"btn btn-primary" %>
<%= link_to t('cancel'), reviews_path, class:"btn btn-secondary" %>
<%= link_to t('delete'), @review, class:"btn btn-danger", method: :delete, data: { confirm: t('are_you_sure') } %>
