<p>
  <strong><%= t 'review' %> by:</strong>
    <%= @review.user.username %>
</p>

<p>
    <%= @review.title %>
</p>

<p>
  <strong><%= t 'rating' %>:</strong>
    <%= @review.rating %>
</p>

<p>
  <%= @review.content %>
</p>

<%= link_to t('edit'), edit_review_path(@review), class:"btn btn-primary" %>
<%= link_to t('back'), reviews_path, class:"btn btn-secondary" %>
<%= link_to favorite_text, favorites_update_path(review: @review), id: 'favorite_link', remote: true, class:"btn btn-primary" %>