<p>
  <strong>Title:</strong>
    <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>


<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %> |
<%= link_to favorite_text, favorites_update_path(review: @review), id: 'favorite_link', remote: true %>