<p>
  <strong><%= t 'review_by' %>:</strong>
    <%= @review.user.username %>
</p>

<p>
    <%= @review.title %>
</p>

<p>
  <strong><%= t 'tags' %>:</strong>
  <% @review.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %> 
</p>

<p>
  <strong><%= t 'rating' %>:</strong>
    <%= @review.rating %>
</p>

<p>
  <%= @review.content %>
</p>

<% if user_signed_in? %>
  <% if current_user.id == @review.user_id || current_user.admin %>
    <%= link_to t('edit'), edit_review_path(@review), class:"btn btn-primary" %>
  <% end %>
  <%= link_to favorite_text, favorites_update_path(review: @review), id: 'favorite_link', remote: true, class:"btn btn-primary" %>
<% end %>
